@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
a {
  font-family: 'Lato', sans-serif;
  color: #222;
}

h3 {
  text-align: center;
}

a:hover {
  color: #222;
  text-decoration: none;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
}

.logo .logo__img {
  margin-right: 12px;
}

.logo span {
  color: #f16d7f;
  font-weight: 900;
}

.basket {
  float: right;
}

.basket .basket__btn {
  width: 160px;
  height: 38px;
}

.basket .basket__btn .basket__ico {
  float: left;
  position: relative;
}

.basket .basket__btn .basket__ico .basket__img {
  margin-right: 50px;
  height: 22px;
  filter: brightness(0) invert(1);
}

.basket .basket__btn .basket__ico .countProducts {
  position: absolute;
  left: 31px;
  top: 4px;
}

.productsList {
  display: flex;
  justify-content: space-around;
}

.shop,
.productsList {
  margin-top: 20px;
}

.shop h3,
.productsList h3 {
  margin: 0 auto;
}

.fetured__poster {
  margin-bottom: 30px;
  position: relative;
  width: 263px;
  height: 364px;
  margin-left: 20px;
  margin-right: 20px;
}

.fetured__poster:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.fetured__poster:hover .poster__header__botton {
  display: flex;
}

.poster__header__botton {
  display: none;
  justify-content: center;
  width: 263px;
  height: 281px;
  position: absolute;
  background: rgba(58, 56, 56, 0.83);
  z-index: 500;
  top: 0;
  font-size: 13px;
  font-weight: 700;
  color: white;
}

.poster__header__botton a {
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 120px;
  align-items: center;
  color: white;
  width: 140px;
  padding: 0 11px;
  height: 40px;
  border: 1px solid white;
  text-align: center;
}

.poster__header__botton a:hover {
  background: #ef5b72;
}

.poster__header__botton a:active {
  color: black;
  border: 1px solid black;
}

.poster__header__botton a:active img {
  filter: grayscale(100%);
}

.poster__header__botton a img {
  width: 23px;
  margin-right: 8px;
  filter: brightness(0) invert(1);
}

.poster__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 14px 0 14px;
  text-align: left;
}

.poster__footer__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 10px;
}

.poster__footer__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  margin-top: 17px;
}

.poster__footer__more {
  font-size: 18px;
  font-weight: 900;
  color: red;
}
